<!doctype html>
<html>

  <!-- Head -->
  <head>
    <title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,900italic" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}css/theme.css">
    <link rel="stylesheet" href="{{ site.baseurl }}css/custom.css">
    <link rel="stylesheet" href="{{ site.baseurl }}css/highlight.css">
  </head>

  <!-- Body -->
  <body>
    <div id="page" class="hfeed site">
      <div id="sidebar" class="sidebar">
        <header id="masthead" class="site-header" role="banner">
          <div class="site-branding">
            <p align="center">
              <a href="{{ site.baseurl }}">
                <img class="bird" src="{{ site.baseurl }}img/bird.jpg" alt="bird" height="100">
              </a>
            </p>
            <h1 class="site-title">
              <a href="{{ site.baseurl }}">{{ site.title }}</a>
            </h1>
            <p class="site-description">{{ site.tagline }}</p>
          </div>
        </header>
        {% include sidebar.html %}
      </div>
      <div id="content" class="site-content">
